/.bundle/
/log/*.log
/pkg/
/spec/dummy/db/*
/spec/dummy/db/migrate/*
/spec/dummy/config/database.yml
/spec/dummy/config/initializers/image_store.yml
/spec/dummy/log/*.log
/spec/dummy/tmp/
/spec/dummy/public/images/
/coverage*
/rdoc/
*.swp
