development:
  reproxy:  false
  base_url: /images/
  mount_at: /images/
  storage:
    adapter:  s3
    access_key_id:     <%= ENV['AMAZON_ACCESS_KEY_ID'] %>
    secret_access_key: <%= ENV['AMAZON_SECRET_ACCESS_KEY'] %>
    bucket: actsasimagestore
    server: s3-ap-northeast-1.amazonaws.com
  cache:
    adapter: file_system

test:
  reproxy:  false
#  cache:    86400
#  perlbal:  192.168.11.69
  base_url: 'http://image.example.com/images/'
  mount_at: /images/
  secret:   xxx
  storage:
    adapter:  file_system
  cache:
    adapter:  file_system
  #
  # configuration for unit testing of adapters
  #
  mogile_fs:
    hosts:    [192.168.56.101:7001]
    domain:   acts_as_image_store_test
    class:    test
  s3:
    access_key_id:     <%= ENV['AMAZON_ACCESS_KEY_ID'] %>
    secret_access_key: <%= ENV['AMAZON_SECRET_ACCESS_KEY'] %>
    bucket:            imagestore.test
    web:               'http://imagestore.test.s3.amazonaws.com/'
  mogile_fs:
    hosts:    [192.168.56.101:7001, 192.168.56.102:7001]
    domain:   xxx
    class:    xxx

production:
  reproxy:  false
  base_url: /images/
  mount_at: /images/
  storage: &s3config
    adapter:  s3
    access_key_id:     <%= ENV['AMAZON_ACCESS_KEY_ID'] %>
    secret_access_key: <%= ENV['AMAZON_SECRET_ACCESS_KEY'] %>
    bucket: actsasimagestore
    server: s3-ap-northeast-1.amazonaws.com
  cache: *s3config

