development:
  hosts:    [192.168.11.72:7001, 192.168.11.73:7001]
  domain:   dev
  class:    image
  reproxy:  true
  cache:    604800
  base_url: 'http://mogile.test:9080/image/'
  perlbal:  192.168.11.69:9080
  mount_at: /image/
  secret:   AbcDEf
test:
  hosts:    [192.168.56.101:7001]
  domain:   acts_as_image_store_test
  class:    test
  reproxy:  false
  base_url: 'http://image.example.com/image/'
  mount_at: /image/
  secret:  xxx
production:
  hosts:    [192.168.56.101:7001, 192.168.56.102:7001]
  domain:   xxx
  class:    xxx
  reproxy:  true
  cache:    86400
  base_url: 'http://image.example.com/image/'
  perlbal:  192.168.11.69
  secret:   xxx

